* {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
    background-color: rgba(8,116,54, 0.5);
	color: #fff;
}

h1 a {
	text-decoration: none;
	color: #fff;
}

nav,
.user-login {
	display: flex;
	align-items: center;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

.username-login {
	color: #fff;
}

.btn-logout-login {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout-login:hover {
	background-color: #fff;
	color: #000;
}

/* Login */

.wrapper-login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.form-login {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titles-login {
    color: #2F4F4F;
    padding: 15px;
}

.labels-login {
    color: #2F4F4F;
}

.input-group-login {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 5px 0;
	text-align: center;
}

.input-box-login {
    height: 25px;
}

.button-login {
    margin: 0 auto;
    padding: 6px;
    width: 100px;
    border: 1px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(8,116,54, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  
  .button-login:hover {
    background-color:#2F4F4F;
  }

  /* Form */

  .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  @media (max-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-control {
  margin: 1rem;
  width: 100%;
  max-width: 300px;
  @media (max-width: 600px) {
   max-width: 250px;
  }
}

.MuiInputBase-root {
	border-color:  rgba(8,116,54, 0.5);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px  rgba(8,116,54, 0.5);
    outline: 0 none;
}

.submit-button {
    border: 1px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(8,116,54, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.submit-button:hover {
	background-color: rgba(8,116,54, 0.8);
}
  /* Charts */

  .chart-box {
	display: flex;
	justify-content: center;
	margin:10px 20px;
  }

  .chart-title {
	text-align: center;
	font-size: 24px;
	color: #2F4F4F;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  /* Table */
  